<div class="content">

  <h2 *ngIf="actionType==='Add'">New Event</h2>
  <h2 *ngIf="actionType==='Edit'">Edit Event {{event?.eventName}}</h2>

  <br />

  <form>
    <div class="form-group">
      <label class="label">Event name:</label>
      <input name="name" type="text" class="form-control" [(ngModel)]="event.eventName" />
    </div>
    <div class="form-group">
      <label for="number" class="label">Event number:</label>
      <input name="number" type="number" class="form-control" [(ngModel)]="event.eventNumber" />
    </div>
    <div class="form-group">
      <label for="startDate" class="label">Start date:</label>
      <input name="startDate" type="date" class="form-control" format="dd-MM-yyyy hh:mm" [(ngModel)]="event.eventDateTime" />
    </div>
    <div class="form-group">
      <label for="endDate" class="label">End date:</label>
      <input name="endDate" type="date" class="form-control" style="max-width:400px" data-format="dd-MM-yyyy hh:mm" [(ngModel)]="event.eventEndDateTime" />
    </div>
    <div class="form-group">
      <label class="checkbox-inline"><input name="autoClose" type="checkbox" [(ngModel)]="event.autoClose"> <span class="label" style="padding:20px">Auto close</span></label>
    </div>

    <br />

    <button class="pimary-button" style="float:right" (click)="cancel()">Cancel</button>
    <button class="pimary-button" style="float:right" (click)="persistEvent()">Save</button>
  </form>

</div>
