<div class="content">

  <h2>{{_parentTournament?.tournamentName}} Events</h2>
  <br />

  <button class="pimary-button" style="float:left" (click)="viewTournaments()">Tournaments</button>
  <button class="pimary-button" style="float:right" (click)="newEvent()">New Event</button>
  <br />
  <br />

  <main>
    <div *ngFor="let model of events">

      <section>
        <input type="checkbox" id="{{model.eventId}}" class="accordion" />
        <label for="{{model.eventId}}"><span></span>{{model.eventName}} - {{model.eventNumber}}</label>
        <article>
          <div>
            <h5>Start Date: {{model.eventDateTime}}</h5>
            <h5>End Date: {{model.eventEndDateTime}}</h5>
            <h5>Auto Close: {{model.autoClose}}</h5>
          </div>
          <br />
          <div>
            <button class="pimary-button" style="float:right" (click)="viewEvent(model.eventId)">View Details</button>
            <button class="pimary-button" style="float:right" (click)="editEvent(model.eventId)">Edit</button>
            <button class="delete-button" style="float:right" (click)="deleteEvent(model.eventId)">Delete</button>
          </div>
        </article>
      </section>

    </div>
  </main>

</div>
