<div class="content">

  <h2>{{_parentEvent?.eventName}} details</h2>
  <br />

  <button class="pimary-button" style="float:left" (click)="viewTournaments()">Tournaments</button>
  <button class="pimary-button" style="float:left" (click)="viewEvents()">Events</button>

  <button class="pimary-button" style="float:right" (click)="newEventDetail()">New Detail</button>
  <br />
  <br />

  <main>
    <div *ngFor="let model of eventDetails">

      <section>
        <input type="checkbox" id="{{model.eventDetailId}}" class="accordion" />
        <label for="{{model.eventDetailId}}"><span></span>{{model.eventDetailName}} - {{model.eventDetailStatus}}</label>
        <article>
          <div>
            <h5>Odd: {{model.eventDetailOdd}}</h5>
            <h5>Finishing Position: {{model.finishingPosition}}</h5>
            <h5>First Timer: {{model.firstTimer}}</h5>
          </div>
          <br />
          <div>
            <button class="pimary-button" style="float:right" (click)="editEventDetail(model.eventDetailId)">Edit</button>
            <button class="delete-button" style="float:right" (click)="deleteEventDetail(model.eventDetailId)">Delete</button>
          </div>
        </article>
      </section>

    </div>
  </main>

</div>
