<div class="content">

  <h2 *ngIf="actionType==='Add'">New Tournament</h2>
  <h2 *ngIf="actionType==='Edit'">Edit Tournament {{tournament?.tournamentName}}</h2>

  <br />

  <form>
    <div class="form-group">
      <label for="name" class="label">Tournament name:</label>
      <input name="name" required type="text" class="form-control" [(ngModel)]="tournament.tournamentName" />
    </div>
    <div class="form-group">
      <label for="desc" class="label">Tournament description:</label>
      <input name="desc" type="text" class="form-control" [(ngModel)]="tournament.tournamentDesc" />
    </div>

    <br />

    <button class="pimary-button" style="float:right" (click)="cancel()">Cancel</button>
    <button class="pimary-button" style="float:right" (click)="persistTournament()">Save</button>
  </form>

</div>
