<div class="content">

  <br />
  <br />

  <button class="pimary-button" style="float:right" (click)="newTournament()">New Tournament</button>
  <br />
  <br />

  <div *ngFor="let model of tournaments">

    <a class="card" (click)="viewTournament(model.tournamentId)">
      <h3>{{ model.tournamentName }}</h3>
      <p class="small">{{ model.tournamentDesc }}</p>
      <div class="go-corner" href="#">
        <div class="go-arrow">
          →
        </div>
      </div>
      <div>
        <button class="edit-button" (click)="editTournament(model.tournamentId);$event.stopPropagation()">Edit</button>
        <button class="delete-button" (click)="deleteTournament(model.tournamentId);$event.stopPropagation()">Delete</button>
      </div>

    </a>

  </div>
